<%- include("partials/header.ejs"); -%>


<div class ="mainImage">
  <h1>Welcome</h1>
  <img  src="https://cdn-icons.flaticon.com/png/512/3065/premium/3065722.png?token=exp=1645659975~hmac=6edfa5a468801e4c03bb3b526ad86330" alt="logo">
  <p> <%=startingContent%> </p>

  <label for="name">Name</label>
  <input type="text" placeholder="Enter your name" name="Name" >
  <label for="number">Number</label>
  <input type="number" placeholder="Enter your number" name="Number" >
  <label for="Party">Party size</label>
  <select name="dropdown" >
    <option value="1" selected>1</option>
    <option value="2" selected>2</option>
    <option value="3" selected>3</option>
    <option value="4" selected>4</option>
    <option value="5" selected>5</option>
    <option value="6" selected>6</option>
    <option value="7" selected>7</option>
    <option value="8" selected>8</option>
    <option value="9" selected>9</option>
    <option value="10" selected>10</option>
  </select>


  <button type="button" name="button">Confirm</button>


</div>





<%- include("partials/footer"); -%>
