html {
  min-height: 100%;
  position: relative;
}

.mainImage {
  text-align: center;
}

.merchantDisplay{
  text-align: center;
  margin-left: 20px;
  align-items: center;

}



.footer-padding {
  padding-bottom: 60px;
}

.footer {
  posiiton: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #1abc9c;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
}
